<% include ./partials/header %>

<div class="ui container segment">
    <div class="ui divided items">    
        <% posts.forEach(post => { %>
            <div class="item">
                <div class="image">
                    <img src="<%= post.image %>">
                </div>
                <div class="content">
                    <a href="/posts/<%= post._id %>" class="header"><%= post.title %></a>
                    <div class="meta">
                        <span><%= post.created.toDateString() %></span>
                    </div>
                    <div class="description">
                        <p><%= post.dialog.substring(0,50) %>...</p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include ./partials/footer %>